html,body{
    height: 100%;
}
.box{
    width: 300px;
    height: 100px;
    margin: 0 auto;
    background-color: brown;
    /*DETERMINA SE O TEXTO SERÁ QUEBRADO
    DE ACORDO COM A ALTURA*/
    
    overflow: auto;
    /*overflow: scroll;
    overflow: hidden;*/
}